 {% extends "eforgebase.html" %}


{% block header %}
<link href="{{ STATIC_URL }}css/strikestyle.css" type="text/css" media="screen" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/euro.css" />
{% endblock header %}

{% block content %}

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">
	<div class="container-fluid">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/2"><img style="margin:-10px 10px -10px 10px" src="{{ STATIC_URL }}img/euro.png">{{ project.name}}</a>
	  <div class="nav-collapse">
	    <ul class="nav">
	    	<li><a href="/1">EuroForge</a></li>
	        <li><a href="/2">EuroStudio</a></li>
	        <li class="active"><a href="#">Contact</a></li>      					   	      
	    </ul>	   
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>

<!--main content-->
<div class="euro-container">
	
<!--header-->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo top-menu">
					<h2 > Contact</h2>
            </div>
        </div>
    </div>
</header>

<!--container-->
<section id="container">
    <div class="container" style="margin-bottom:280px;">
        <div class="row">
            <section id="page-sidebar" class="pull-left span8">
                <div class="title-divider">
                    <h4>Colorado Google Map</h4>
                    <div class="divider-arrow"></div>
                </div>
                <div>
                    <iframe class="" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;q=5973+Nelson+Road,+Longmont,+CO&ampll=40.15238,-105.21472&amp;spn=0.963995,1.783905&amp;t=m&amp;z=10&amp;output=embed"></iframe>
                </div>
                
               
                <hr/>
             
            </section>
            <!--sidebar-->
            <aside id="sidebar" class="pull-right span4">
                <!--address-->
                <section>
                    <div class="title-divider">
                        <h4>Address</h4>
                        <div class="divider-arrow"></div>
                    </div>
                    <address>
                        <p>
                            <i class="icon-map-marker"></i> 5973 Nelson Road Longmont, CO, 80503<br/>
                            <i class="icon-phone"></i> (303) 378-2944<br/>
                            <i class="icon-envelope footer"></i> <a href="mailto:#">euroforge@maxbrun.com</a>
                        </p>
                    </address>
                </section>
                <section>
                    <div class="title-divider">
                        <h4>Business Hours</h4>
                        <div class="divider-arrow"></div>
                    </div>
                    <ul class="unstyled">
                        <li><h5>Monday - Friday:</h5><p class="alignright"><h5>9 am  to 4 pm</h5></p></li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>    
</section>
    </div>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Address</h3>
                <address>
                    <p>
                        <span><i class="icon-map-marker"></i> 5973 Nelson Road</span><br/>
                        <span><i class="icon-map-marker"></i> Longmont CO</span><br/>
                        <span><i class="icon-map-marker"></i> 80503</span><br/>
                        <span><i class="icon-phone"></i> (303) 378-2944 </span><br/>
                        <span><i class="icon-envelope"></i> <a href="mailto:#">euroforge@maxbrun.com</a></span>
                    </p>
                </address>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2012 MaxBrun.com </p>
            </div>           
        </div>
    </div>
</section>

{% endblock content %} 

{% block extrajs %}

{% endblock extrajs %}
