<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Contact Max Brun</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</HEAD>

<BODY BGCOLOR="#000000" TEXT="#CCCCCC" LINK="#CCCCCC" VLINK="#999999" ALINK="#666666" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<TABLE WIDTH="300" BORDER="0" CELLSPACING="0" CELLPADDING="0">
  <TR>
    <TD><p align="center">&nbsp;</p>
      <p align="center"><font size="3" face="Arial, Helvetica, sans-serif">To 
        contact Max Brun,<br>
        EuroForge and Brun Metal Crafts:</font></p>
      </TD>
  </TR>
  <TR>
    <TD><P ALIGN="CENTER"><font color="#CCCCCC" size="3" face="Arial, sans-serif"><br>
        2791 
        Industrial Lane<BR>
        Broomfield, Colorado 80020</font></P>
      <P ALIGN="CENTER"><FONT COLOR="#CCCCCC" SIZE="3" FACE="Arial, sans-serif"><STRONG>303.466.2513</STRONG></FONT></P>
      <P ALIGN="CENTER"><FONT COLOR="#CCCCCC" SIZE="3" FACE="Arial, sans-serif"><A HREF="mailto:inquiry@maxbrun.com">max@maxbrun.com</A></FONT></P>
  </TD>
  </TR>
</TABLE>
</BODY>
</HTML>
