 {% extends "eforgebase.html" %}


{% block header %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/efstyle.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fullpagegallery.css" />

{% endblock header %}

{% block content %}

<!--top menu-->
<section id="top-menu">
    <div class="container">
        <div class="navbar navbar-fixed-top">  
		  <div class="navbar-inner">
			<div class="container-fluid">
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </a>
			  <a class="brand" href="/eurostudio">{{ project.name}}</a>
			  <div class="nav-collapse">
			    <ul class="nav">
			      <li class="active"><a href="#">Full Page Gallery</a></li>       					  
			      <li><a href="/contact">Contact</a></li>          
		      
			    </ul>
			    <ul class="nav pull-right">
			    	{% if project.name == "EuroStudio" %}
			          <li class="pull-right"><a href="/euroforge">EuroForge</a></li>          
			        {% else %}
			          <li class="pull-right"><a href="/eurostudio">EuroStudio</a></li>
			        {% endif %}            
		        </ul>
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
		</div>
    </div>
</section>
<!--header-->

<!--top -->

<!--header-->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <h1 class="site-title"><a href="#">{{ project.name}}</a></h1>

                <h2 class="sub-title">Architectural</h2>
            </div>
            <div class="span9">
                <nav id="menu" class="clearfix pull-right">
                    <ul>
                        <li>
                            <a href="/{{ project.id}}/portfolio">
                                <span class="name">Portfolio</span>
                                <span class="desc"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--slider-->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="mainslider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ MEDIA_URL }}images/brass.jpg" alt="" />
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
<div class="container">
<hr/>
<section id="welcome" class= "euroforgemain">
    <h1>EuroForge Architectural Design</h1>
    <p>
        

    </p>
</section>

<hr/>
<div class= "euroforgemain">
</div>


</div>
</section>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Address</h3>
                <address>
                    <p>
                        <span><i class="icon-map-marker"></i> 5973 Nelson Road</span><br/>
                        <span><i class="icon-map-marker"></i> Longmont CO</span><br/>
                        <span><i class="icon-map-marker"></i> 80503</span><br/>
                        <span><i class="icon-phone"></i> (303) 378-2944 </span><br/>
                        <span><i class="icon-envelope"></i> <a href="mailto:#">euroforge@maxbrun.com</a></span>
                    </p>
                </address>
                <a href="/contact" class="btn">Get in Touch</a>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2012 MaxBrun.com </p>
            </div>
            <div class="span8 hidden-phone">
                <ul class="pull-right ftborder">
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %} 

{% block extrajs %}

{% endblock extrajs %}
