 {% extends "eforgebase.html" %}


{% block header %}

{% endblock header %}

{% block content %}

<!--top menu-->
<section id="top-menu">
    <div class="container">
        <div class="row">
            <div class="span6 hidden-phone">
                <ul class="top-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/euroforge">EuroForge</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--header-->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <h1 class="site-title"><a href="#">{{ project.name}}</a></h1>

                <h2 class="sub-title">Architechtural</h2>
            </div>
            <div class="span9">
                <nav id="menu" class="clearfix pull-right">
                    <ul>
                        <li>
                            <a href="/{{ project.id}}/portfolio">
                                <span class="name">Portfolio</span>
                                <span class="desc"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--slider-->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="mainslider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ MEDIA_URL }}images/900x200abstracgtbanner.jpg" alt="" />
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
<div class="container" style="padding-top:80px; padding-bottom:220px;">
<hr/>
<section id="welcome" >
    <h1>EuroStudio Ornamental Sculpture</h1>
    <p>
        

    </p>
</section>
<hr/>

</div>
</section>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Address</h3>
                <address>
                    <p>
                        <span><i class="icon-map-marker"></i> 5973 Nelson Road</span><br/>
                        <span><i class="icon-map-marker"></i> Longmont CO</span><br/>
                        <span><i class="icon-map-marker"></i> 80503</span><br/>
                        <span><i class="icon-phone"></i> (303) 378-2944 </span><br/>
                        <span><i class="icon-envelope"></i> <a href="mailto:#">euroforge@maxbrun.com</a></span>
                    </p>
                </address>
                <a href="/contact" class="btn">Get in Touch</a>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2012 MaxBrun.com </p>
            </div>
            <div class="span8 hidden-phone">
                <ul class="pull-right">   
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %} 

{% block extrajs %}

{% endblock extrajs %}
