{% extends "eforgebase.html" %}


{% block header %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/efindex.css" />

<style type="text/css">
      body {
        background-color: #000000;
        border: 40px solid #000;

        
      }
    </style>
{% endblock header %}

{% block content %}


<div class="container">
	<div class="ef-index-container">
		<ul class="ef-splashmenu">
	      {% for project in latest_project_list %}
			<li><a href="{{ project.id }}"><span><h4>Enter >> </h4></span><span>{{ project.name }}</span></a><img src="{{ project.splashphoto.url }}" alt="project"/></li>
	
		  {% endfor %}	
	    </ul>
    </div>
</div>

 
		
{% endblock content %} 
