<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Untitled Document</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<STYLE TYPE="text/css">
<!--
.bio {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 14pt;
	color: #CCCCCC;
	margin-top: 6pt;
	padding-left: 15px;
}
-->
</STYLE>
</HEAD>

<BODY BGCOLOR="#000000" TEXT="#CCCCCC" LINK="#CCCCCC" VLINK="#999999" ALINK="#999999" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<TABLE WIDTH="300" BORDER="0" CELLSPACING="0" CELLPADDING="0">
  <TR>
    <TD><IMG SRC="images/maxBio.gif" WIDTH="300" HEIGHT="46"></TD>
  </TR>
  <TR>
    <TD CLASS="bio">Max was raised in France and comes from a family of blacksmith 
      / artisans. He started working with metal as a young child, and honed his 
      skills working in his father's project during his teens. He came to Colorado
      in 1973. Max enjoys works on large scale projects where he design skills 
      and technical mastery can best be appreciated.</TD>
  </TR>
</TABLE>
</BODY>
</HTML>
