 {% extends "eforgebase.html" %}


{% block header %}
<link href="{{ STATIC_URL }}css/strikestyle.css" type="text/css" media="screen" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/euro.css" />
{% endblock header %}

{% block content %}

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">
	<div class="container-fluid">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  {% ifequal project.name "EuroForge" %}
		<a class="brand" href="#"><img style="margin:-10px 10px -10px 10px" src="{{ STATIC_URL }}img/brass.png">{{ project.name}}</a>
	    {% else %}
	    <a class="brand" href="#"><img style="margin:-8px 10px -8px 10px" src="{{ STATIC_URL }}img/euro.png">{{ project.name}}</a>
	  {% endifequal %} 
	  <div class="nav-collapse">
	    <ul class="nav">
	    	<li><a href="/{{ project.id}}/portfolio">Portfolio</a></li>
	        <li><a href="/{{ project.id }}/fullpage">Full Page Gallery</a></li>
	        <li><a href="/contact">Contact</a></li> 	      
	    </ul>
	    <ul class="nav pull-right">
	    	{% if project.name == "EuroStudio" %}
	          <li class="pull-right"><a href="/1">EuroForge</a></li>          
	        {% else %}
	          <li class="pull-right"><a href="/2">EuroStudio</a></li>
	        {% endif %}            
        </ul>
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>

<div class="euro-container">
	
	<!--hero-->
	
	<section id="hero">
	    <div class="container">
	        <div class="row">
	            <div class="span8">
	                <div class="hero-unit">
	                    <h2>Welcome to {{ project.name}} </h2>
	                    <h4> <strong>{{ project.description }}</strong> </h4>
	                </div>
	            </div>         
	        </div>
	    </div>
	</section>
	
	
	<!--slider-->
	<section id="slider">
	    <div class="container">
	        <div class="row">
	            <div class="span12">
	                <div id="mainslider" class="flexslider">
	                    <ul class="slides">
	                        <li>
	                        	{% ifequal project.name "EuroForge" %}
								<img src="{{ MEDIA_URL }}images/brass.jpg" alt="" />  
							    {% else %}
							    <img src="{{ MEDIA_URL }}images/900x200abstracgtbanner.jpg" alt="" />
							    <div class="span8" style="margin-bottom:180px;">
					                
					            </div>      
							    {% endifequal %}
	                            
	                           
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<section id="filler">
		<div class="container">
			<div class= "euroforgemain">
			</div>
		</div>
	</section>
</div>

<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Address</h3>
                <address>
                    <p>
                        <span><i class="icon-map-marker"></i> 5973 Nelson Road</span><br/>
                        <span><i class="icon-map-marker"></i> Longmont CO</span><br/>
                        <span><i class="icon-map-marker"></i> 80503</span><br/>
                        <span><i class="icon-phone"></i> (303) 378-2944 </span><br/>
                        <span><i class="icon-envelope"></i> <a href="mailto:#">euroforge@maxbrun.com</a></span>
                    </p>
                </address>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2012 MaxBrun.com </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %} 

{% block extrajs %}

{% endblock extrajs %}
