body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #0C1114 url(images/img01.jpg) no-repeat top center;
}

.pause {
  right: 40px;
  left: auto;
}


