{% extends "./euro-base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
    <div id="wrapper" class="has-side-navigation">
        <div class="side-navigation">
            <a href="#menu-toggle" id="menu-toggle" class="navbar-toggler collapsed">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </a><!-- / menu-toggle -->
            <a class="navbar-brand" href="/">MAX BRUN</a>
        </div><!-- / side-navigation -->
        <div id="sidebar-wrapper" class="sidebar-nav minimal-nav">
            <ul class="sidebar-nav-inner">
                <li class="active">
                    <a class="menu-item" href="/">HOME</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <section id="portfolio" class="pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="section-title mb-3">{{ project.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="section-title hidden">GALLERY</h3>
                    <ul class="row portfolio lightbox list-unstyled mb-0 primary-hover" id="grid">
                        {% for picture in pictures %}
                            <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                                <figure class="portfolio-item">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="{{ picture.photo.url }}" alt="">
                                        <div class="overlay">
                                            <div class="hovereffect-title project-icons">
                                                <a href="{{ picture.photo.url }}" class="image-lightbox"
                                                   title="{{ picture.name }}"><i
                                                        class="lnr lnr-magnifier"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

            <section id="project-details" class="pt-3">
                <div class="container">
                    <div class="section-w-image">
                        <div class="row vcenter">
                            <div class="col-lg-6 mt-3 mb-3">
                                <h4 class="section-title mb-3">{{ project.name }}</h4>
                                <p class="mb-3">{{ project.info }}</p>
                            </div>
                            <div class="col-lg-2 mt-3 mb-3">
                                <div class="project-info">
                                    {% if project.client %}
                                        <div class="info">
                                            <h6 class="mb-1">CLIENT</h6>
                                            <p>{{ project.client }}</p>
                                        </div>
                                    {% endif %}
                                    {% if project.style %}
                                        <div class="info">
                                            <h6 class="mb-1">STYLE</h6>
                                            <p>{{ project.style }}</p>
                                        </div>
                                    {% endif %}
                                    {% if project.finish %}
                                        <div class="info">
                                            <h6 class="mb-1">FINISH</h6>
                                            <p>{{ project.finish }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ project.splashphoto.url }}" alt="" class="mt-3 mb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-pagination bg-light">
                <h3 class="hidden">PAGINATION</h3>
                <div class="container text-center">
                    {% if prev_project %}
                        <a href="/projects/{{ prev_project.id }}" class="btn btn-link btn-direction pull-left"><i
                                class="lnr lnr-arrow-left mr-1"></i></a>
                    {% endif %}
                    <a href="/" class="btn btn-link btn-direction text-center"><i class="lnr lnr-layers mr-1"></i></a>
                    {% if next_project %}
                        <a href="/projects/{{ next_project.id }}" class="btn btn-link btn-direction pull-right"><i
                                class="lnr lnr-arrow-right ml-1"></i></a>
                    {% endif %}
                </div>
            </section>
            <footer class="bg-dark">
                <div class="container text-center">
                    <div class="row vcenter">
                        <div class="col-md-4 footer-left-area">
                            <p><span class="text-grey"> © 2019 MaxBrun.com </span><span class="text-light-grey"> Contact: 303-378-2944 </span>
                            </p>
                        </div>
                        <div class="col-md-4 footer-left-area">
                            <span class="text-light-grey">EuroStudio is a Colorado based ornamental design studio specializing in custom design and
                            european founded style</span>
                        </div>
                        <div class="col-md-4 social-icons footer-right-area">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div><!-- / social-icons -->
                    </div><!-- / row -->
                </div><!-- / container -->
            </footer>

        </div>
    </div>
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}
